* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: auto;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #555;
	font-size: 15px;
	line-height: 30px;
	font-weight: normal;
	text-align: left;
	margin: 0;
}


.loader-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;	
	background-color: purple;
	height: 100vh;
  }
  
  .loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid gold;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
  .hidden {
	display: none;
  }
/* Navbar styles */
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: black;
	backdrop-filter: blur(3px);
	color: white;
	padding: 20px 50px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.623);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 4;
  }

    .logo {
    height: 40px; /* Adjust the height of the logo */
    width: auto;
  }
  
  .menu-toggle {
	cursor: pointer;
	display: none; /* Initially hidden on larger screens */
  }
  
  .menu-links {
	display: flex;
  }
  
  .menu-links a {
	text-decoration: none;
	color: white;
	margin-right: 50px;
	transition: 0.2s;
  }

  .menu-links a:hover {
	color: gold;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
	.menu-toggle {
	  display: block; /* Display toggle button on smaller screens */
	}
	
	.menu-links {
	  display: none; 
	  flex-direction: column;
	  position: absolute;
	  top: 80px;
	  background-color: black;
	  width: 100%;
	  padding: 10px 0;
	  padding: 20px;
	border-radius: 5px;
	backdrop-filter: blur(10px);
	border: solid rgba(255, 255, 255, 0.301) 1px;
	box-shadow: 0 0 20px black;
	}
	
	.menu-links a {
	  margin: 5px 0;
	}

	.menu-links a:hover {
		color: gold;
	  }
  }

  .menu-toggle {
	cursor: pointer;
	background-color: white;
	transition: 0.3s;
  }


  .menu-toggle:hover {
	background-color: gold;
  }

  .bar {

	padding:2px;
	width: 10vw;
	border: solid black;
	

  }
  
  

h1,h2,h3,
h4,h5,h6 {
	font-size: inherit;
	line-height: inherit;
	font-family: 'Josefin Sans', sans-serif;	
}
h1,h2,h3,
h4,h5,h6,p,ul,li,a,span {
	margin:0;
}
a {
	text-decoration: none;
	color:#555;
	cursor: pointer;
}

#image-container {
	transform: rotate(2deg);
	animation: blurImg 4s infinite;
	z-index: 1;
	width: 200px; /* Set the width of the container */
	height: 500px; /* Set the height of the container */
	overflow: hidden; /* Hide any overflow content */
  }
  
  #image-container img {
	width: 100%; /* Make the image fill its container horizontally */
	height: auto; /* Maintain the aspect ratio of the image */
  }
  
  @keyframes blurImg {
	0% {
	  transform: rotate(2deg);
	}
	50% {
	  transform: rotate(-2deg);
	}
	100% {
	  transform: rotate(2deg);
	}
  }
  

.main-container {
	max-width: 1920px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;	
}
.inside-container {
	max-width: 940px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0 15px;
}
.sections-detail {
	margin: 0 0 55px;
}
.section-title {
	font-family: 'Roboto Slab', serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: 0.84px;
	font-weight: 700;
	color: #7b6cd5;
	text-align: center;
}
.section-title-desc {
	font-size: 15px;
	line-height: 40px;
	font-weight: 400;
	letter-spacing: 0.45px;
	color: #666;
	text-align: center;
}
/*Banner*/
.yoga-template .banner {
	background-image: url(../img/logo\ animate.gif);
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: auto;
	color:#fff;
	position: relative;
}
.yoga-template .banner .banner-overlay {
	position: absolute;
	top: 0;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
}

.yoga-template .banner .top-bar-left ,
.top-bar-right {
	padding-top: 24px;	
	z-index: 3;
}
.yoga-template .banner .top-bar-left a {
	color:#fff;
	font-size: 18px;
	letter-spacing: 0.18px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	vertical-align: middle
}

.yoga-template .banner .top-bar-left a:hover,
.yoga-template .banner .top-bar-right a:hover{
	color:#fe86d4;
	text-decoration: none;
}
.yoga-template .banner .top-bar-left i,
.top-bar-right i {
	font-size: 16px;
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    color: #3e2d40;
    vertical-align: middle;
    padding-top: 5px;
}
.yoga-template .banner .banner-content {
	padding: 126px 15px;
}
.yoga-template .banner .banner-content .content-col {
	text-align: center;
	z-index: 3;
}
.yoga-template .banner .banner-content .site-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
	backdrop-filter: blur(2px);
	padding: 30px;
	line-height: 40px;
	font-weight: 700;
	margin-bottom: 18px;
	padding-right: 15px;
}
.yoga-template .banner .banner-content .site-title-desc {
	font-size: inherit;
	line-height: 25px;
	letter-spacing: 0.45px;
	margin-bottom: 51px;
	width: 97%;
	background-color: #0000003d;
	padding: 40px;
	border-radius: 10px;
	backdrop-filter: blur(3px);
}
.yoga-template .banner .banner-content a.banner-btn {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.6px;
	font-weight: 700;
	padding: 21px 32px 19px;
	background-color: none;
	color:#fff;
	border-radius: 3px;
	border: solid white 1px;
	text-transform: uppercase;
	transition: 0.2s;
}
.yoga-template .banner .banner-content a.banner-btn:hover {
	text-decoration: none;
	background-color: white;
	color: black;
}
/*Service*/
.yoga-template .service-section {
	padding: 62px 15px;
}
.yoga-template .service-section .service-detail {
	text-align: center;
}
.yoga-template .service-section .service-detail a:hover {
	text-decoration: none;
}
.yoga-template .service-section .service-detail a:hover .service-title{
	text-decoration: none;
	color: #fe86d4;
}
.yoga-template .service-section .service-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	line-height: 40px;
	font-weight: 700;
	letter-spacing: 0.75px;
	color: #000;
	margin-bottom: 15px;
}
.yoga-template .service-section .service-desc {
	font-family: inherit;
	font-size: inherit;
	line-height: 25px;
	font-weight: 400;
	letter-spacing: 0.40px;
}
.yoga-template .service-section .service-detail-img {
	max-width: 90px;
 	height: auto;
}
/*Class Yoga Club*/
.yoga-template .best-class-club .detail-col-club{
	padding-bottom: 10px;
}
.yoga-template .best-class-club .best-class-club-desc {
	background-color: purple;
	padding: 60px 15px;
	color: rgb(240, 240, 240);
}
.yoga-template .best-class-club .best-class-club-desc .club-section-title {
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    line-height: 40px;
    color: gold;
    font-weight: 600;
	text-align: left;
}
.yoga-template .best-class-club .best-class-club-desc ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 13px;
  cursor: pointer;
}

li {
	font-size: 2em;
	padding: 20px;
	transition: 0.2s;
	color: gold;

}

li:hover {
	text-decoration: underline;
}
.yoga-template .best-class-club .best-class-club-desc ul li {
  padding-left: 1.3em;
  margin-bottom: 10px;
}

.yoga-template .best-class-club .best-class-club-img {
	transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}

.dropdown-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .dropdown-content.active {
    display: block;
    max-height: 1000px; /* Adjust as needed */
  }

/*Copyright*/
.yoga-template .footer .copyright {
	padding: 50px 15px;
	background-color: #7b6cd5;
	color: #fff;
	font-family: inherit;
	font-size: 14px;
	line-height: 26px;
}
.yoga-template .footer .copyright .created-by {
	color: #fff;
}
.yoga-template .footer .copyright .created-by:hover {
	color: #fe86d4;
	text-decoration: none;
}
.yoga-template .footer .copyright .social {
	text-align: right;
	font-size: 14px;
	line-height: 26px;
}
.yoga-template .footer .copyright .social a {
	color: #fff;
}
.yoga-template .footer .copyright .social a:hover {
	color: #fe86d4;
}
.yoga-template .footer .copyright .social .fab {
	padding-left: 14px;
}


/* our team styles */

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
max-width: 100%;
height: auto;
}


.team-page-section{
position:relative;
padding-top:70px;
}

.team-page-section .team-block{
margin-bottom:60px;
}


/* dop down arrow */


.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
  }
   
.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }

.sec-title .separator{
position:relative;
width:40px;
margin-top:16px !important;
}

.sec-title .separator:before{
position:absolute;
content:'';
left:0px;
top:0px;
width:10px;
height:2px;
background-color:#ff9600;
}

.sec-title .separator:after{
position:absolute;
content:'';
right:0px;
top:0px;
width:10px;
height:2px;
background-color:#ff9600;
}


.sec-title h2{
position:relative;
color:#222222;
font-weight:700;
font-size:36px;
line-height:1.2em;
margin-top:35px;
}

.sec-title .text{
position:relative;
font-size:14px;
line-height:1.9em;
color:#555555;
margin-top:10px;
}

.sec-title.centered .separator{
margin:0 auto !important;
float:none !important;
}

.sec-title.centered{
text-align: center !important;
}

.sec-title.light .title{
color:#ffffff;
}

.sec-title.light h2{
color:#ffffff;
}

.sec-title.light .separator span{
background-color:#ff9600;
}

.sec-title.light .separator:before,
.sec-title.light .separator:after{
background-color:#ffffff;
}

.team-section{
position:relative;
padding:80px 0px 60px;
}

.team-section.style-two .pattern-layer{
position:absolute;
left:0px;
top:0px;
right:0px;
bottom:0px;
background-position:center center;
background-repeat:no-repeat;
}

.team-section .title-box{
position:relative;
text-align:center;
}

.team-section .title-box h2{
position: relative;
color: #222222;
font-size: 36px;
font-weight: 700;
line-height: 1.3em;
margin-bottom: 50px;
}

.team-section .title-box h2 span{
color: #ff9600;
}

.team-block{
position:relative;
}

.team-block .inner-box{
position:relative;
padding:40px 70px 28px 0px;
}

.team-block .inner-box:before{
position:absolute;
content:'';
right:0px;
top:0px;
left:70px;
bottom:0px;
border-radius:10px;
background-color:#f5f5f5;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.24);
-webkit-transition:all 600ms ease;
-moz-transition:all 600ms ease;
-ms-transition:all 600ms ease;
-o-transition:all 600ms ease;
transition:all 600ms ease;
}

.team-block .inner-box::after{
position:absolute;
content:'';
top:0px;
left:70px;
bottom:0px;
width:0%;
border-radius:10px;
-webkit-transition:all 600ms ease;
-moz-transition:all 600ms ease;
-ms-transition:all 600ms ease;
-o-transition:all 600ms ease;
transition:all 600ms ease;
background-image: -ms-linear-gradient(top, purple 0%, purple 100%);
background-image: -moz-linear-gradient(top, purple 0%, purple 100%);
background-image: -o-linear-gradient(top, purple 0%, purple 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, purple), color-stop(100, #f70067));
background-image: -webkit-linear-gradient(top, purple 0%, purple 100%);
background-image: linear-gradient(to bottom, purple 0%, purple 100%);
}

.team-block .inner-box:hover::after{
width:81%;
}

.team-block .inner-box .social-icons{
position:absolute;
right:25px;
top:100px;
z-index:1;
}

.team-block .inner-box .social-icons li{
position:relative;
margin-bottom:20px;
}

.team-block .inner-box .social-icons li a{
position:relative;
color: purple;
font-size:18px;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
}

.team-block .inner-box:hover .lower-content h3 a,
.team-block .inner-box:hover .social-icons li a,
.team-block .inner-box:hover .lower-content .designation{
color:#ffffff;
}

.team-block .inner-box .image{
position:relative;
z-index:1;
border-radius:10px;
background-color:#ffffff;
box-shadow:inset 0px 0px 35px rgba(0,0,0,0.20);
}

.team-block .inner-box .image img{
position:relative;
width:100%;
display:block;
}

.team-block .inner-box .lower-content{
position:relative;
text-align:left;
z-index:1;
padding:30px 15px 0px 110px;
}

.team-block .inner-box .lower-content h3{
position:relative;
color: purple;
font-size:18px;
font-weight:700;
line-height:1.3em;
}

.team-block .inner-box .lower-content h3 a{
position:relative;
color: gold;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
}

.team-block .inner-box .lower-content .designation{
position:relative;
margin-top:5px;
color:purple;
font-size:14px;
}

.team-block.style-two .inner-box .lower-content h3 a,
.team-block.style-two .inner-box .social-icons li a{
color:#ff9600;
}

.team-block.style-two .inner-box:hover .lower-content h3 a,
.team-block.style-two .inner-box:hover .social-icons li a{
color:#ffffff;
}

/* .team-block.style-two .inner-box::after{
background-image: -ms-linear-gradient(top, #FFEB3C 0%, purple 100%);
background-image: -moz-linear-gradient(top, #FFEB3C 0%, purple 100%);
background-image: -o-linear-gradient(top, #FFEB3C 0%, purple  100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFEB3C), color-stop(100, #ff9600));
background-image: -webkit-linear-gradient(top, #FFEB3C 0%, purple  100%);
background-image: linear-gradient(to bottom, #FFEB3C 0%, purple  100%);
} */

/* Style for the confirmation message */
#confirmation {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 9999;
}

#contact {
	padding: 50px;
	background-color: purple;
	width: 100vw;
}

#contact h1 {
	font-size: 2em;
	color: gold;
	text-decoration: underline;
}

#contact button {
	border-radius: 10px;
	font-size: 1em;
	padding: 15px;
	background: none;
	border: solid  1px black;
	transition: 0.2s;
	color: gold;
}

#contact button:hover{
	background: gold;
	color: white;
}

#contact textarea{
	border: solid 1px black;
	width: 50%;
}

#contact label  {
	color: gold;
}

#contact input {
	width: 50%;
	padding: 5px;
	border: black solid 1px;
}


/* our responsibilities section */

  
  .responsibility {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	opacity: 0;
	transform: translateX(-50px);
	transition: opacity 0.5s ease, transform 0.5s ease;
  }


  .responsible {
	padding: 50px;
	font-size: 2em;
  }
  
  .visible {
	opacity: 1;
	transform: translateX(0);
  }
  
  .text {
	flex: 1;
  }
  
  .image {
	flex: 1;
	text-align: center;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }
  